/* Reset and base styles  */
@import url(/fonts/ofont.ru_Impact.ttf);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  height: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1244px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

/* media adaptive for examples */
/* Tablet */
/* @media (max-width: 1199px) {
   width: 900px;
} */
/* Mobile */
/* @media (max-width: 899px) {
   width: 768px;
} */
/* Mobile XS */
/* @media (max-width: 767px) {
   width: 320px;
}  */
/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: #1b1a17;
  font-family: "Inconsolata", monospace;
  color: #f0e3ca;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}
@media (max-width: 810px) {
  .main-header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 23px;
    padding: 16px 0;
  }
}
@media (max-width: 665px) {
  .main-header {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
  }
  .main-header .container {
    display: none;
  }
}

.main-menu__list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}

.preview {
  padding-top: 81.5px;
  padding-bottom: 72.5px;
}
.preview__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 137px;
     -moz-column-gap: 137px;
          column-gap: 137px;
}
@media (max-width: 1244px) {
  .preview__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 64px;
  }
}
@media (max-width: 662px) {
  .preview__content .main-title {
    font-size: 40px;
  }
  .preview__content .main-subtitle {
    font-size: 32px;
  }
}
@media (max-width: 1244px) {
  .preview {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
@media (max-width: 662px) {
  .preview {
    padding-top: 100px;
    padding-bottom: 0;
  }
  .preview .info-author {
    max-width: 314px;
  }
}

.about-me {
  padding-top: 68px;
  padding-bottom: 64px;
}
.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 570px) {
  .about-me__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }
}
.about-me__icon-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100px;
  max-height: 100px;
}
.about-me__discription-wrapper {
  font-size: 24px;
  max-width: 904px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .about-me__discription-wrapper {
    font-size: 22px;
    line-height: 1.16;
  }
}

.skills {
  padding-top: 64px;
  padding-bottom: 64px;
}

.skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-works {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer .wrapper-context-title {
  text-align: left;
  margin-bottom: 16px;
}
@media (max-width: 700px) {
  .footer .wrapper-context-title {
    text-align: center;
    font-family: "Impact", Impact;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
.footer .logo {
  max-width: 165px;
  margin-bottom: 16px;
}
@media (max-width: 700px) {
  .footer .logo {
    margin: 0 auto 16px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}
@media (max-width: 700px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 64px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.discription {
  max-width: 213px;
  padding-top: 6px;
}
@media (max-width: 700px) {
  .discription {
    max-width: 339px;
  }
}

.discription__text {
  font-size: 20px;
  line-height: 1.3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  row-gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 390px;
}
@media (max-width: 700px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts-list__item:nth-child(3) {
  min-width: 202px;
}

.social-link__img {
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
}

.social-link {
  font-size: 24px;
  color: #ff8303;
}

.reviews {
  padding: 64px 0;
}

.form-application {
  background: #1f1e1b;
  max-width: 520px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  row-gap: 65px;
}

.form-application__item {
  max-width: 440px;
  display: block;
  width: 100%;
  position: relative;
}

.form-application__placeholder {
  position: absolute;
  left: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  font-family: "Tilt Neon", sans-serif;
  pointer-events: none;
}
.form-application__placeholder--message {
  top: 15px;
}

.form-application__input {
  width: 100%;
  border-bottom: 2px solid #f0e3ca;
  display: block;
  outline: none;
  padding: 5px;
  font-size: 20px;
  font-family: "Tilt Neon", sans-serif;
}
.form-application__input--message {
  resize: vertical;
  min-height: 37px;
  max-height: 400px;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #7E7E7E;
  border: 2px solid #000000;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../../img/check.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  left: 50%;
  top: 50%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.privacy-policy__rule {
  font-family: "Tilt Neon", sans-serif;
}

.personal-data-link {
  text-decoration: underline;
  color: #ff8303;
  text-underline-offset: 5px;
}

.anchor-link {
  color: #f0e3ca;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.info-author {
  max-width: 448px;
}
@media (max-width: 662px) {
  .info-author {
    max-width: 314px;
  }
}
.info-author__discription {
  font-size: 20px;
}
@media (max-width: 662px) {
  .info-author__discription {
    font-size: 24px;
  }
}

.wrapper-main-title {
  margin-bottom: 13px;
}

.main-title {
  color: #ff8303;
  font-size: 64px;
  font-weight: 900;
  text-transform: capitalize;
}

.wrapper-main-subtitle {
  margin-bottom: 14px;
}

.main-subtitle {
  color: #f0e3ca;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.wrapper-context-title {
  margin-bottom: 32px;
  text-align: center;
}

.context-title {
  color: #ff8303;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.wrapper-avatar {
  position: relative;
}
.wrapper-avatar__background {
  max-width: 629px;
  max-height: 575px;
  z-index: 1;
}
@media (max-width: 662px) {
  .wrapper-avatar__background {
    max-width: 413px;
    max-height: 429px;
  }
}

.avatar {
  width: 370px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.avatar__photo {
  border-radius: 58% 34% 60% 25%/68% 49% 30% 25%;
  overflow: hidden;
  width: 370px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.avatar__shadow {
  width: 370px;
  height: 370px;
  border-radius: 58% 34% 60% 25%/68% 49% 30% 25%;
  position: absolute;
}

.avatar__shadow--color1 {
  background-color: rgba(255, 129, 3, 0.72);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 2;
}

.avatar__shadow--color2 {
  background-color: rgba(240, 227, 202, 0.72);
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

@media (max-width: 662px) {
  .avatar,
  .avatar__photo,
  .avatar__shadow {
    max-width: 278px;
    max-height: 276px;
  }
}
.button-action {
  border: 2px solid transparent;
  font-size: 26px;
  border-radius: 5px;
  min-width: 134px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.5;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.fade-block {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fade-block.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.skills-card {
  position: relative;
  min-width: 200px;
  min-height: 300px;
}
.skills-card__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  background-color: #1f1e1b;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  padding-top: 60px;
  padding-bottom: 40px;
  border-radius: 10px;
  z-index: 2;
}
@media (max-width: 662px) {
  .skills-card__front {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 14px 32px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.skills-card__back {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(50, 49, 46, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills-card__front, .skills-card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.skills-card.active {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateY(0deg) !important;
          transform: translate(-50%, -50%) rotateY(0deg) !important;
  z-index: 6;
  max-width: 400px;
  width: 100%;
  min-height: 300px;
}
@media (max-width: 425px) {
  .skills-card.active {
    width: 90%;
  }
}
.skills-card.active .skills-card__front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
  z-index: 1;
}
.skills-card.active .skills-card__back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  z-index: 2;
}
.skills-card--html .skills-card__holder-picture, .skills-card--css .skills-card__holder-picture {
  width: 113px;
  height: 128px;
}
@media (max-width: 662px) {
  .skills-card--html .skills-card__holder-picture, .skills-card--css .skills-card__holder-picture {
    width: 28px;
    height: 32px;
  }
}
.skills-card--js .skills-card__holder-picture, .skills-card--scss .skills-card__holder-picture, .skills-card--git .skills-card__holder-picture {
  width: 128px;
  height: 128px;
}
@media (max-width: 662px) {
  .skills-card--js .skills-card__holder-picture, .skills-card--scss .skills-card__holder-picture, .skills-card--git .skills-card__holder-picture {
    width: 32px;
    height: 32px;
  }
}
.skills-card .skill-icon {
  fill: #f0e3ca;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
@media (max-width: 662px) {
  .skills-card {
    max-width: 285px;
    width: 100%;
    min-height: 60px;
  }
}
.skills-card__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.skills-card .cross {
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}
.skills-card .cross:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.skills-card__discription {
  padding: 50px 15px;
  font-size: 20px;
  text-align: justify;
}

.skills-card--html:hover .skill-icon {
  fill: #FC490B;
}
.skills-card--html:hover .button-action {
  border-color: #FC490B;
}

.skills-card--css:hover .skill-icon {
  fill: #2196F4;
}
.skills-card--css:hover .button-action {
  border-color: #2196F4;
}

.skills-card--js:hover .skill-icon {
  fill: #FFDF00;
}
.skills-card--js:hover .button-action {
  border-color: #FFDF00;
}

.skills-card--scss:hover .skill-icon {
  fill: #CA669B;
}
.skills-card--scss:hover .button-action {
  border-color: #CA669B;
}

.skills-card--git:hover .skill-icon {
  fill: #F25234;
}
.skills-card--git:hover .button-action {
  border-color: #F25234;
}

.works-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-card {
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.project-card:hover .project-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-info {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
  background-color: rgba(33, 32, 29, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.project-info .wrapper-context-title {
  margin-bottom: 16px;
}

.project-info__top {
  border-bottom: 1px solid rgba(255, 129, 3, 0.72);
  max-width: 200px;
  padding-bottom: 16px;
}

.project-info__stack {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.project-info__bottom {
  max-width: 219px;
  padding-top: 16px;
}

.project-info__discription {
  margin-bottom: 16px;
}

.project-info__action {
  text-align: center;
}

.link-other-page {
  background-color: #32312E;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 39px;
  display: inline-block;
  border-radius: 4px;
}

.mobile-menu {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media (max-width: 665px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.mobile-menu .logo {
  z-index: 2;
}
.mobile-menu .main-menu {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.mobile-menu .main-menu.open {
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.mobile-menu .main-menu__list-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 64px;
}

.burger {
  z-index: 2;
}
.burger.active .burger__line::before,
.burger.active .burger__line::after {
  top: 0;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}
.burger.active .burger__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger.active .burger__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger.active .burger__line {
  background-color: transparent;
  -webkit-transition: background-color 0.3s 0s;
  transition: background-color 0.3s 0s;
}

.burger__line {
  width: 36px;
  height: 4px;
  background-color: #f0e3ca;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.3s 0s;
  transition: background-color 0.3s 0s;
}
.burger__line::before, .burger__line::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #f0e3ca;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s;
}
.burger__line::before {
  top: -10px;
}
.burger__line::after {
  top: 10px;
}

.slider-review {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .slider-review {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .slider-review {
    width: 100%;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-review__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1f1e1b;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .slider-review__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-review__photo {
  width: 225px;
  height: 225px;
  border-radius: 25%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 768px) {
  .slider-review__photo {
    margin-bottom: 15px;
  }
}

.slider-review__text {
  max-width: 650px;
  min-height: 195px;
}

@media (max-width: 768px) {
  .slider-review__info {
    text-align: center;
  }
}

.slider-review__name {
  margin-bottom: 5px;
  font-size: 30px;
  color: #ff8303;
  font-weight: 600;
}

.slider-review__profession {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
}

.slider-review__review {
  max-width: 650px;
  font-size: 20px;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (hover: hover) {
  .slider__arrow path {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .slider__arrow:hover path {
    fill: #ff8303;
  }
}
.slider__arrow:active path {
  fill: rgba(255, 129, 3, 0.72);
  -webkit-transition: 0s;
  transition: 0s;
}
@media (max-width: 550px) {
  .slider__arrow {
    display: none !important;
  }
}

.slider__arrow--left {
  left: -35px;
}

.slider__arrow--right {
  right: -35px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-dots button {
  border-radius: 50%;
  background-color: #FFF;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-active button {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background-color: #ff8303;
}/*# sourceMappingURL=main.css.map */