/* Reset and base styles  */
@import url(/fonts/ofont.ru_Impact.ttf);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  height: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1244px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1244px) {
  .container {
    max-width: 662px;
  }
}
@media (max-width: 662px) {
  .container {
    max-width: 443px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

/* media adaptive for examples */
/* Tablet */
/* @media (max-width: 1199px) {
   width: 900px;
} */
/* Mobile */
/* @media (max-width: 899px) {
   width: 768px;
} */
/* Mobile XS */
/* @media (max-width: 767px) {
   width: 320px;
}  */
/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: #1b1a17;
  font-family: "Inconsolata", monospace;
  color: #f0e3ca;
}

.main-header {
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.main-header__content {
  display: flex;
  -moz-column-gap: 522px;
       column-gap: 522px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
}
@media (max-width: 1244px) {
  .main-header__content {
    flex-direction: column;
    row-gap: 23px;
  }
}
@media (max-width: 1244px) {
  .main-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 662px) {
  .main-header {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
  }
  .main-header .container {
    display: none;
  }
}

.main-menu__list-menu {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.preview {
  padding-top: 81.5px;
  padding-bottom: 72.5px;
}
.preview__content {
  display: flex;
  align-items: center;
  -moz-column-gap: 137px;
       column-gap: 137px;
}
@media (max-width: 1244px) {
  .preview__content {
    flex-direction: column;
    row-gap: 64px;
  }
}
@media (max-width: 662px) {
  .preview__content .main-title {
    font-size: 40px;
  }
  .preview__content .main-subtitle {
    font-size: 32px;
  }
}
@media (max-width: 1244px) {
  .preview {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
@media (max-width: 662px) {
  .preview {
    padding-top: 220px;
    padding-bottom: 142px;
  }
}
@media (max-width: 662px) {
  .preview .info-author {
    max-width: 314px;
  }
}

.about-me {
  padding-top: 68px;
  padding-bottom: 64px;
}
.about-me__content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 662px) {
  .about-me__content {
    flex-direction: column;
    row-gap: 32px;
  }
}
.about-me__icon-wrapper {
  flex-shrink: 0;
  max-width: 100px;
  max-height: 100px;
}
.about-me__discription-wrapper {
  font-size: 24px;
  max-width: 904px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1244px) {
  .about-me__discription-wrapper {
    max-width: 451px;
    font-size: 22px;
    line-height: 1.16;
  }
}
@media (max-width: 662px) {
  .about-me__discription-wrapper {
    max-width: 322px;
  }
}

.skills {
  padding-top: 64px;
  padding-bottom: 64px;
}

.skills-row {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1244px) {
  .skills-row {
    row-gap: 16px;
  }
}
@media (max-width: 662px) {
  .skills-row {
    max-width: 285px;
    margin: 0 auto;
  }
}

.my-works {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer .wrapper-context-title {
  text-align: left;
  margin-bottom: 16px;
}
@media (max-width: 1244px) {
  .footer .wrapper-context-title {
    text-align: center;
    font-family: "Impact", Impact;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
.footer .logo {
  max-width: 165px;
  margin-bottom: 16px;
}
@media (max-width: 1244px) {
  .footer .logo {
    margin: 0 auto 16px;
  }
}

.footer__content {
  display: flex;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (max-width: 1244px) {
  .footer__content {
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
  }
}

.discription {
  max-width: 213px;
  padding-top: 6px;
}
@media (max-width: 1244px) {
  .discription {
    max-width: 339px;
  }
}

.discription__text {
  font-size: 20px;
  line-height: 1.3;
}

.footer__contacts {
  max-width: 390px;
}

.contacts-list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 32px;
  flex-wrap: wrap;
}

.contacts-list__item:nth-child(3) {
  min-width: 202px;
}

.social-link__img {
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
}

.social-link {
  font-size: 24px;
  color: #ff8303;
}

.anchor-link {
  color: #f0e3ca;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.info-author {
  max-width: 448px;
}
@media (max-width: 662px) {
  .info-author {
    max-width: 314px;
  }
}
.info-author__discription {
  font-size: 20px;
}
@media (max-width: 662px) {
  .info-author__discription {
    font-size: 24px;
  }
}

.wrapper-main-title {
  margin-bottom: 13px;
}

.main-title {
  color: #ff8303;
  font-size: 64px;
  font-weight: 900;
  text-transform: capitalize;
}

.wrapper-main-subtitle {
  margin-bottom: 14px;
}

.main-subtitle {
  color: #f0e3ca;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

.wrapper-context-title {
  margin-bottom: 32px;
  text-align: center;
}

.context-title {
  color: #ff8303;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.wrapper-avatar {
  position: relative;
}
.wrapper-avatar__avatar__background {
  max-width: 629px;
  max-height: 575px;
}
@media (max-width: 662px) {
  .wrapper-avatar__avatar__background {
    max-width: 413px;
    max-height: 429px;
  }
}

.avatar {
  width: 370px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar__photo {
  border-radius: 58% 34% 60% 25%/68% 49% 30% 25%;
  overflow: hidden;
  width: 370px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.avatar__shadow {
  width: 370px;
  height: 370px;
  border-radius: 58% 34% 60% 25%/68% 49% 30% 25%;
  position: absolute;
}

.avatar__shadow--color1 {
  background-color: rgba(255, 129, 3, 0.72);
  transform: rotate(30deg);
  z-index: 2;
}

.avatar__shadow--color2 {
  background-color: rgba(240, 227, 202, 0.72);
  transform: rotate(-24deg);
}

@media (max-width: 662px) {
  .avatar,
  .avatar__photo,
  .avatar__shadow {
    max-width: 278px;
    max-height: 276px;
  }
}
.button-action {
  border: 2px solid transparent;
  font-size: 26px;
  border-radius: 5px;
  min-width: 134px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.5;
  transition: border-color 0.5s;
}

.skills-card {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1e1b;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.skills-card .skills-card--html:hover .skill-icon {
  fill: #FC490B;
  filter: drop-shadow 0 0 5px #FC490B;
}
.skills-card .skills-card--html:hover .skills-card__holder-picture {
  filter: drop-shadow 0 0 5px #FC490B;
}
.skills-card .skills-card--html:hover .button-action {
  border-color: #FC490B;
}
.skills-card .skills-card--css:hover .skill-icon {
  fill: #2196F4;
  filter: drop-shadow 0 0 5px #2196F4;
}
.skills-card .skills-card--css:hover .skills-card__holder-picture {
  filter: drop-shadow 0 0 5px #2196F4;
}
.skills-card .skills-card--css:hover .button-action {
  border-color: #2196F4;
}
.skills-card .skills-card--js:hover .skill-icon {
  fill: #FFDF00;
  filter: drop-shadow 0 0 5px #FFDF00;
}
.skills-card .skills-card--js:hover .skills-card__holder-picture {
  filter: drop-shadow 0 0 5px #FFDF00;
}
.skills-card .skills-card--js:hover .button-action {
  border-color: #FFDF00;
}
.skills-card .skills-card--scss:hover .skill-icon {
  fill: #CA669B;
  filter: drop-shadow 0 0 5px #CA669B;
}
.skills-card .skills-card--scss:hover .skills-card__holder-picture {
  filter: drop-shadow 0 0 5px #CA669B;
}
.skills-card .skills-card--scss:hover .button-action {
  border-color: #CA669B;
}
.skills-card .skills-card--git:hover .skill-icon {
  fill: #F25234;
  filter: drop-shadow 0 0 5px #F25234;
}
.skills-card .skills-card--git:hover .skills-card__holder-picture {
  filter: drop-shadow 0 0 5px #F25234;
}
.skills-card .skills-card--git:hover .button-action {
  border-color: #F25234;
}
.skills-card--html .skills-card__holder-picture, .skills-card--css .skills-card__holder-picture {
  width: 113px;
  height: 128px;
}
@media (max-width: 662px) {
  .skills-card--html .skills-card__holder-picture, .skills-card--css .skills-card__holder-picture {
    width: 28px;
    height: 32px;
  }
}
.skills-card--js .skills-card__holder-picture, .skills-card--scss .skills-card__holder-picture, .skills-card--git .skills-card__holder-picture {
  width: 128px;
  height: 128px;
}
@media (max-width: 662px) {
  .skills-card--js .skills-card__holder-picture, .skills-card--scss .skills-card__holder-picture, .skills-card--git .skills-card__holder-picture {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 662px) {
  .skills-card {
    width: 100%;
    flex-direction: row;
    padding: 14px 32px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.skill-icon {
  fill: #F0E3CA;
  transition: fill 0.5s;
}

.works-row {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}
@media (max-width: 1244px) {
  .works-row {
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
  }
}

.project-card {
  max-width: 320px;
  max-height: 320px;
  position: relative;
  overflow: hidden;
}

.project-card:hover .project-info {
  transform: translateY(100%);
}

.project-info {
  transition: transform 0.8s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
  background-color: rgba(33, 32, 29, 0.8);
  position: absolute;
  top: -100%;
  width: 100%;
}
.project-info .wrapper-context-title {
  margin-bottom: 16px;
}

.project-info__top {
  border-bottom: 1px solid rgba(255, 129, 3, 0.72);
  max-width: 200px;
  padding-bottom: 16px;
}

.project-info__stack {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.project-info__bottom {
  max-width: 219px;
  padding-top: 16px;
}

.project-info__discription {
  margin-bottom: 16px;
}

.project-info__action {
  text-align: center;
}

.link-other-page {
  background-color: #32312E;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 39px;
  display: inline-block;
  border-radius: 4px;
}

.mobile-menu {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 662px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.mobile-menu .logo {
  z-index: 2;
}

.main-menu {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu__list-menu {
  flex-direction: column;
  text-align: center;
  row-gap: 64px;
}

.burger {
  z-index: 2;
}

.burger__line {
  width: 36px;
  height: 4px;
  background-color: #f0e3ca;
  display: inline-block;
  position: relative;
}
.burger__line::before, .burger__line::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}
.burger__line::before {
  top: -10px;
}
.burger__line::after {
  top: 10px;
}/*# sourceMappingURL=main.css.map */