.avatar {
    width: 370px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.avatar__photo {
    border-radius: 58% 34% 60% 25% / 68% 49% 30% 25%;
    overflow: hidden;
    width: 370px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.avatar__shadow {
    width: 370px;
    height: 370px;
    border-radius: 58% 34% 60% 25% / 68% 49% 30% 25%;
    position: absolute;
}
.avatar__shadow--color1 {
    background-color: $shadowFirstColor;
    transform: rotate(30deg);
    z-index: 2;
}
.avatar__shadow--color2 {
    background-color: $shadowSecondColor;
    transform: rotate(-24deg);
}

    @media (max-width: 662px) {
        .avatar,
        .avatar__photo,
        .avatar__shadow {
            max-width: 278px;
            max-height: 276px;
        }
    }