.burger {
    z-index: 2;

    &.active {
        .burger__line::before,
        .burger__line::after {
            top: 0;
            transition: top 0.3s, transform 0.3s 0.3s;
            
        }
        .burger__line::before {
            transform: rotate(45deg);
        }
        .burger__line::after {
            transform: rotate(-45deg);
        }
        .burger__line {
            background-color: transparent;
            transition: background-color 0.3s 0s;
        }
    }
}

.burger__line {
    width: 36px;
    height: 4px;
    background-color: $colorText;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s 0s;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $colorText;
        position: absolute;
        left: 0;
        transition: transform 0.3s , top 0.3s 0.3s;
    }

    &::before {
        top: -10px;
    }

    &::after {
        top: 10px;
    }
}