.burger {
    z-index: 2;
}

.burger__line {
    width: 36px;
    height: 4px;
    background-color: $colorText;
    display: inline-block;
    position: relative;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: inherit;
        position: absolute;
        left: 0;
    }

    &::before {
        top: -10px;
    }

    &::after {
        top: 10px;
    }
}