.skills-card {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: $backgroundCard;
    border-radius: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    
    &--html,
    &--css {
    .skills-card__holder-picture {
    width: 113px;
    height: 128px;
    
    @media (max-width: 662px) {
    width: 28px;
    height: 32px;
    }
    }
    }
    
    &--js,
    &--scss,
    &--git {
    .skills-card__holder-picture {
    width: 128px;
    height: 128px;
    
    @media (max-width: 662px) {
    width: 32px;
    height: 32px;
    }
    }
    }
    
    // изменение
    .skill-icon {
    fill: $colorText;
    transition: fill 0.5s;
    }
    
    
    @media (max-width: 662px) {
    width: 100%;
    flex-direction: row;
    padding: 14px 32px;
    column-gap: 20px;
    }
    }
    
    // изменение========================
    .skills-card--html {
    @include changeHover($firstSkillColor);
    }
    
    .skills-card--css {
    @include changeHover($secondSkillColor);
    }
    // ======================================
    
    
    .skills-card__holder-picture {
    
    }