.skills-card {
    position: relative;
    min-width: 200px;
    min-height: 300px;
    
    &__front {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        background-color: $backgroundCard;
        transform: perspective(600px) rotateY(0deg);
        padding-top: 60px;
        padding-bottom: 40px;
        border-radius: 10px;
        
    }

    &__back {
        position: absolute;
        color: rgb(255, 255, 255);
        background-color: rgb(34, 85, 179);
        transform: perspective(600px) rotateY(180deg);
    }

    &__front,
    &__back {
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform 1s;
    }

    &.active {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(0deg);
        z-index: 2;

        .skills-card__front{
            transform: perspective(600px) rotateY(-180deg);
        }
        
        .skills-card__back{
            transform: perspective(600px) rotateY(0deg);
        }
    }
    

    &--html,
    &--css {
        .skills-card__holder-picture {
            width: 113px;
            height: 128px;
    
            @media (max-width: 662px) {
                width: 28px;
                height: 32px;
            }
        }
    }
    
    &--js,
    &--scss,
    &--git {
        .skills-card__holder-picture {
            width: 128px;
            height: 128px;
    
            @media (max-width: 662px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    
    // изменение
    .skill-icon {
    fill: $colorText;
    transition: fill 0.5s;
    }
    
    
    @media (max-width: 662px) {
        max-width: 285px;
        width: 100%;
        flex-direction: row;
        padding: 14px 32px;
        column-gap: 20px;
    }
    }
    
    // изменение========================
    .skills-card--html {
    @include changeHover($firstSkillColor);
    }
    
    .skills-card--css {
    @include changeHover($secondSkillColor);
    }

    .skills-card--js {
        @include changeHover($thirdSkillColor);
        }

    .skills-card--scss {
        @include changeHover($fourthSkillColor);
        }

    .skills-card--git {
        @include changeHover($fifthSkillColor);
        }
    // ======================================
    
    
    .skills-card__holder-picture {
    
    }