

.slider-review {
    width: 80%;
    margin: 0 auto;
    position: relative;

}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider-review__slide {
    display: flex;
    background-color: $backgroundCard;
    margin-left: 15px;
    margin-right: 15px;
    column-gap: 50px;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.slider-review__photo {
    width: 225px;
    height: 225px;
    border-radius: 25%;
    overflow: hidden;
}
.slider-review__text {
    max-width: 650px;
    min-height: 195px;
}
.slider-review__info {
}
.slider-review__name {
    margin-bottom: 5px;
    font-size: 30px;
    color: $colorHeading;
    font-weight: 600;
}
.slider-review__profession {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
}
.slider-review__review {
    max-width: 650px;
    font-size: 20px;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (hover:hover) {
        path {
            transition: 0.5s;    
        }
        &:hover {
            path {
                fill: $colorHeading;
            }
        }
    }

    &:active {
        path {
            fill: $shadowFirstColor;
            transition: 0s;
        }
    }
}

.slider__arrow--left {
    left: -35px;


}
    

.slider__arrow--right {
    right: -35px;


}

.slick-dots {
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    button {
        border-radius: 50%;
        background-color: #FFF;
        display: inline-block;
        width: 10px;
        height: 10px;
        font-size: 0;
        transition: 0.5s;
    }
}

.slick-active {
    button {
        transform: scale(1.4);
        background-color: $colorHeading;
    }
}