.wrapper-main-title {
    margin-bottom: 13px;
}

.main-title {
    color: $colorHeading;
    font-size: 64px;
    font-weight: 900;
    text-transform: capitalize;
}

.wrapper-main-subtitle {
    margin-bottom: 14px;
}
.main-subtitle {
    color: $colorText;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.wrapper-context-title {
    margin-bottom: 32px;
    text-align: center;
}

.context-title {
    color: $colorHeading;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}