.about-me {
    // padding-top: 64px;

    // по макету 64
    padding-top: 68px;
    padding-bottom: 64px;

    &__content {
        display: flex;
        column-gap: 32px;
        justify-content: center;
        align-items: center;

            @media (max-width: 662px) {
                flex-direction: column;
                row-gap: 32px;
            }
    }

    &__icon-wrapper {
        flex-shrink: 0;
        max-width: 100px;
        max-height: 100px;
    }

    &__discription-wrapper {
        font-size: 24px;
        max-width: 904px;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 1244px) {
            max-width: 451px;
            font-size: 22px;
            line-height: 1.16;
        }

        @media (max-width: 662px) {
            max-width: 322px;
        }
    }

}
