.footer {
    padding-top: 64px;
    padding-bottom: 64px;
    
    .wrapper-context-title {
        text-align: left;
    }
    .logo {
        max-width: 213px;
        margin-bottom: 16px;
    }
}

.footer__content {
    display: flex;
    justify-content: center;
    column-gap: 64px;
}

.discription {
    max-width: 213px;
}


.discription__text {
    font-size: 20px;
}

.footer__contacts {
    max-width: 390px;
}

.contacts-icons {
}

.contacts-list {
    display: flex;
    column-gap: 48px;
    row-gap: 32px;
    flex-wrap: wrap;
}

.contacts-list__item {
    &:nth-child(3) {
        min-width: 202px;
    }
}

.social-link__img {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

.social-link {
    font-size: 24px;
    color: $colorHeading;
}