.footer {
    padding-top: 64px;
    padding-bottom: 64px;
    
    .wrapper-context-title {
        text-align: left;

        @media (max-width: 1244px) {
            text-align: center;
            font-family: 'Impact', Impact;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }
    .logo {
        max-width: 213px;
        margin-bottom: 16px;

            @media (max-width: 1244px) {
                margin: 0 auto 16px;
            }
    }
}

.footer__content {
    display: flex;
    justify-content: center;
    column-gap: 64px;

        @media (max-width: 1244px) {
            flex-direction: column;
            row-gap: 64px;
            align-items: center;
        }
}

.discription {
    max-width: 213px;

        @media (max-width: 1244px) {
            max-width: 339px;
        }
}


.discription__text {
    font-size: 20px;
}

.footer__contacts {
    max-width: 390px;
}

.contacts-icons {
}

.contacts-list {
    display: flex;
    column-gap: 48px;
    row-gap: 32px;
    flex-wrap: wrap;
}

.contacts-list__item {
    &:nth-child(3) {
        min-width: 202px;
    }
}

.social-link__img {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

.social-link {
    font-size: 24px;
    color: $colorHeading;
}