.main-header {
    padding-top: 20.5px;
    padding-bottom: 20.5px;

        &__content {
            display: flex;
            column-gap: 522px;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            max-width: 1200px;

            @media (max-width: 1244px) {
                flex-direction: column;
                row-gap: 23px;
            }
        }   
        
        @media (max-width: 1244px) {
            padding-top: 16px;
            padding-bottom: 16px;    
        }

}

.main-menu__list-menu {
    display: flex;
    column-gap: 64px;
}
