.main-header {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
    margin: 0 auto;
}

.main-header__content {
    display: flex;
    column-gap: 522px;
    align-items: center;
}

.logo {

}

.main-menu {

}

.main-menu__list-menu {
    display: flex;
    column-gap: 64px;
}
.main-menu__list-item {

}

.anchor-link {

}