.preview {
    // padding-top: 72.5px;

    // по макету 72.5px
    padding-top: 81.5px;
    padding-bottom: 72.5px;
    
        &__content {
            display: flex;
            align-items: center;
            column-gap: 137px;

            @media (max-width: 1244px) {
                flex-direction: column;
                row-gap: 64px;

            }
            @media (max-width: 662px) {
                .main-title {
                    font-size: 40px;
                }

                .main-subtitle {
                    font-size: 32px;
                }
            }
        }

            @media (max-width: 1244px) {
                padding-top: 128px;
                padding-bottom: 128px;
            }

            @media (max-width:662px) {
                padding-top: 220px;
                padding-bottom: 142px;
            }

            @media (max-width: 662px) {
                .info-author {
                    max-width: 314px;
                }
            }
}




