.skills {
    padding-top: 64px;
    padding-bottom: 64px;
}

.skills__content {
}

.skills-row {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

        @media (max-width: 1244px) {
            row-gap: 16px;
        }

        @media (max-width: 662px) {
            max-width: 285px;
            margin: 0 auto;
        }


}